-if flash[:notice]
  =flash[:notice]
  
%h2== Current Medic Count as of #{Time.zone.now.strftime("%m/%d/%Y %H:%M")}
%table
  %thead
    %tr
      %th Time
      %th --
      %th Medics
      %th --
      %th M131
      %th M241
  %tbody
    -MedicRecord.limit(10).order("id desc").each do |rec|
      %tr
        %td= rec.created_at.strftime("%H:%M")
        %td==--
        %td
          %strong==  #{rec.count}
        %td==--
        %td= (rec.m131_available ? "Available" : "Unavailable")
        %td= (rec.m241_available ? "Available" : "Unavailable")
      
%br
=button_to "test message","/send_test_message"
